.static {
  position: static;
  background-color: #E7E7E7;
  border-bottom: 10px solid black;
}

.checkout {
  /* background-image */
  background-position: left top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  justify-content: flex-end;
}

.inherit {
  background-color: inherit;
}

.form {
  padding: 0 25px 210px;
  text-align: center;
}

.form__title {
  display: block;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.big {
  font-weight: bold;
  font-size: 28px;
}

.normal {
  font-size: 18px;
  padding-bottom: 38px;
}

.form__input {
  display: block;
  background: #E7E7E7;
  border-radius: 18px;
  padding: 10px 10px 10px 40px;
  color: #5E5E5E;
  width: 100%;
  margin-bottom: 24px;
}

.form__input::placeholder {
  color: #5E5E5E;
}

.form__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form__submit {
  display: block;
  margin: 0 auto;
  background: #000000;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.21);
  border-radius: 18px;
  color: #FFFFFF;
  padding: 9px 60px;
  margin-top: 65px;
  font-size: 18px;
}

.form__reset {
  color: #818181;
  text-decoration-line: underline;
  margin-top: 13px;
  font-size: 14px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 85px;
  gap: 10px;
}

.social__list {
  display: inline-flex;
  align-items: center;
  background: #E7E7E7;
  border: 2px solid #000000;
  border-radius: 21px;
  padding: 3px 18px;
  gap: 15px;
}

.social__list > a {
  display: flex;
}

@media (max-width: 768px) {
  .static {
    background-color: #838383;
    border-bottom: none;
  }

  .checkout {
    background-size: cover;
    background-position: -330px;
  }

  .inherit {
    padding-top: 56px;
  }

  .form {
    max-width: 347px;
    margin-left: auto;
    padding-bottom: 300px;
  }

  .social {
    margin-right: 0;
  }
}

@media (max-width: 376px) {
  .checkout {
    background-color: rgba(255, 255, 255, 0.8)
  }

  .inherit {
    padding-top: 86px;
  }

  .form {
    max-width: auto;
    width: 100%;
    padding: 0 19px 112px;
  }

  .form__input {
    /* стилизовать border */
  }

  .form__reset {
    color: black;
  }
}